* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif; }

.contenedor {
  height: 100vh;
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-template-areas: "header header header" "main main main" "main main main" "main main main" "footer footer footer"; }
  .contenedor .headerHome {
    grid-area: header;
    position: fixed;
    width: 100%;
    box-shadow: 1px 1px 5px #000; }
    .contenedor .headerHome nav {
      background-color: white;
      height: 120px;
      width: 100%; }
      .contenedor .headerHome nav .logo {
        display: flex;
        position: absolute;
        padding: 20px; }
        .contenedor .headerHome nav .logo img {
          height: 80px;
          width: 80px; }
        .contenedor .headerHome nav .logo .titulo {
          font-size: 36px;
          margin-top: 20px;
          margin-left: 10px;
          color: #05668d; }
      .contenedor .headerHome nav .nav__input {
        display: none; }
      .contenedor .headerHome nav .nav__label {
        font-size: 25px;
        color: #05668d;
        float: right;
        margin-top: 20px;
        margin-right: 20px;
        display: none;
        cursor: pointer; }
      .contenedor .headerHome nav ul {
        display: flex;
        justify-content: flex-end;
        margin-right: 30px; }
        .contenedor .headerHome nav ul li {
          font-family: 'Space Grotesk', sans-serif;
          line-height: 127px;
          margin: 0 10px; }
          .contenedor .headerHome nav ul li a {
            color: #000000ad;
            font-size: 18px;
            padding: 7px 13px; }
            .contenedor .headerHome nav ul li a:hover {
              border-top: 3px solid #00a896;
              font-weight: bold;
              color: #05668d; }
  .contenedor main {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "sectUno sectUno sectUno" "sectDos sectDos sectDos" "sectTres sectTres sectTres"; }
    .contenedor main #img-portada {
      grid-area: sectUno;
      height: 80vh;
      width: 100%;
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/images/esta.jpg);
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      margin-bottom: 40px;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      font-size: 20px; }
      .contenedor main #img-portada .smile h2 {
        font-size: 40px; }
    .contenedor main #clinica {
      grid-area: sectDos;
      display: grid;
      grid-template-columns: 0.8fr 0.5fr;
      grid-template-rows: 1.3fr 0.7fr;
      grid-template-areas: "article asideUno" "asideDos asideDos"; }
      .contenedor main #clinica .img-clinica {
        grid-area: article;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center; }
        .contenedor main #clinica .img-clinica img {
          box-shadow: 1px 1px 5px #000;
          max-width: 80%;
          border-radius: 50px;
          margin-bottom: 40px;
          border: 3px solid #05668d; }
      .contenedor main #clinica .clinica__datos {
        grid-area: asideUno;
        display: flex; }
        .contenedor main #clinica .clinica__datos div {
          display: flex;
          flex-direction: column;
          text-align: left;
          align-items: center;
          justify-content: center;
          padding: 0 30px;
          margin: 0 20px;
          border: 3px solid #05668d;
          color: #000000ad; }
          .contenedor main #clinica .clinica__datos div h2 {
            text-align: center;
            align-items: center;
            justify-content: center;
            border-bottom: 2px groove #05668d;
            margin-bottom: 15px;
            color: black; }
          .contenedor main #clinica .clinica__datos div button {
            background-color: #05668d;
            cursor: pointer;
            border: none;
            color: #f0f3bd;
            font-weight: bold;
            padding: 10px;
            border-radius: 5px; }
      .contenedor main #clinica .clinica__trat {
        grid-area: asideDos;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 40px 20px;
        margin-top: 70px;
        color: #000000ad; }
        .contenedor main #clinica .clinica__trat h2 {
          color: black; }
        .contenedor main #clinica .clinica__trat button {
          background-color: #05668d;
          cursor: pointer;
          border: none;
          color: #f0f3bd;
          font-weight: bold;
          padding: 10px;
          border-radius: 5px; }
        .contenedor main #clinica .clinica__trat .img {
          display: flex;
          justify-content: center;
          margin-top: 20px; }
          .contenedor main #clinica .clinica__trat .img img {
            height: auto;
            width: 80px;
            margin: 20px; }
    .contenedor main #servicios {
      grid-area: sectTres;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas: "cartas cartas cartas" "cartas cartas cartas";
      padding: 90px 50px;
      background-color: #e4e0e077; }
      .contenedor main #servicios .cartas {
        width: 100%;
        grid-area: cartas;
        display: flex;
        flex-wrap: wrap;
        text-align: none;
        align-items: space-around;
        justify-content: space-around; }
        .contenedor main #servicios .cartas h3 {
          margin-top: 50px;
          color: white; }
        .contenedor main #servicios .cartas button {
          margin-top: 10px;
          cursor: pointer;
          color: #f0f3bd;
          font-size: 16px;
          padding: 8px;
          font-weight: bold;
          background-color: #05668d;
          border: none;
          box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.8);
          border-radius: 5px; }
        .contenedor main #servicios .cartas .carta__primera {
          background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/images/bracket-tratamiento.jpg);
          background-size: cover;
          background-repeat: no-repeat;
          border: 5px solid #00a896;
          display: flex;
          flex-direction: column;
          height: 30vh;
          width: 30%;
          text-align: center;
          align-items: center;
          justify-content: center;
          margin: 20px; }
          .contenedor main #servicios .cartas .carta__primera:hover {
            transition-duration: 1.5s;
            transition-delay: .3s;
            box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.8); }
        .contenedor main #servicios .cartas .carta__Segunda {
          background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/images/blanqueamiento.jpg);
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
          border: 5px solid #00a896;
          display: flex;
          flex-direction: column;
          height: 30vh;
          width: 30%;
          text-align: center;
          align-items: center;
          justify-content: center;
          margin: 20px; }
          .contenedor main #servicios .cartas .carta__Segunda:hover {
            transition-duration: 1.5s;
            transition-delay: .3s;
            box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.8); }
        .contenedor main #servicios .cartas .carta__tercera {
          background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/images/invisalight.png);
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center bottom;
          border: 5px solid #00a896;
          display: flex;
          flex-direction: column;
          height: 30vh;
          width: 30%;
          text-align: center;
          align-items: center;
          justify-content: center;
          margin: 20px; }
          .contenedor main #servicios .cartas .carta__tercera:hover {
            transition-duration: 1.5s;
            transition-delay: .3s;
            box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.8); }
        .contenedor main #servicios .cartas .carta__Cuarta {
          background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/images/endodoncia-nueva.jpg);
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
          border: 5px solid #00a896;
          display: flex;
          flex-direction: column;
          height: 30vh;
          width: 30%;
          text-align: center;
          align-items: center;
          justify-content: center;
          margin: 20px; }
          .contenedor main #servicios .cartas .carta__Cuarta:hover {
            transition-duration: 1.5s;
            transition-delay: .3s;
            box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.8); }
        .contenedor main #servicios .cartas .carta__quinta {
          background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/images/tsyos.jpg);
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center bottom;
          border: 5px solid #00a896;
          display: flex;
          flex-direction: column;
          height: 30vh;
          width: 30%;
          text-align: center;
          align-items: center;
          justify-content: center;
          margin: 20px; }
          .contenedor main #servicios .cartas .carta__quinta:hover {
            transition-duration: 1.5s;
            transition-delay: .3s;
            box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.8); }
        .contenedor main #servicios .cartas .carta__sexta {
          background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/images/carillas.jpg);
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
          border: 5px solid #00a896;
          display: flex;
          flex-direction: column;
          height: 30vh;
          width: 30%;
          text-align: center;
          align-items: center;
          justify-content: center;
          margin: 20px; }
          .contenedor main #servicios .cartas .carta__sexta:hover {
            transition-duration: 1.5s;
            transition-delay: .3s;
            box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.8); }
  .contenedor footer {
    grid-area: footer;
    background-color: #023b52;
    box-shadow: .5px .5px 5px #000; }
    .contenedor footer .datosClinica {
      margin-top: 80px;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center;
      color: #f0f3bd; }
    .contenedor footer .copyR {
      color: #f0f3bd;
      display: flex;
      justify-content: flex-end;
      margin: 30px 20px 10px 0; }
    .contenedor footer .redes_S {
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center; }
      .contenedor footer .redes_S img {
        height: auto;
        width: 70px;
        margin: 10px; }

.contenedor header {
  grid-area: header;
  position: relative;
  height: 120px;
  width: 100%;
  box-shadow: 1px 1px 5px #000; }
  .contenedor header nav {
    background-color: white;
    height: 120px;
    width: 100%; }
    .contenedor header nav .logo {
      display: flex;
      position: absolute;
      padding: 20px; }
      .contenedor header nav .logo img {
        height: 80px;
        width: 80px; }
      .contenedor header nav .logo .titulo {
        font-size: 36px;
        margin-top: 20px;
        margin-left: 10px;
        color: #05668d; }
    .contenedor header nav .nav__input {
      display: none; }
    .contenedor header nav .nav__label {
      font-size: 25px;
      color: #05668d;
      float: right;
      margin-top: 20px;
      margin-right: 20px;
      display: none;
      cursor: pointer; }
    .contenedor header nav ul {
      display: flex;
      justify-content: flex-end;
      margin-right: 30px; }
      .contenedor header nav ul li {
        font-family: 'Space Grotesk', sans-serif;
        line-height: 127px;
        margin: 0 10px; }
        .contenedor header nav ul li a {
          color: #000000ad;
          font-size: 18px;
          padding: 7px 13px; }
          .contenedor header nav ul li a:hover {
            border-top: 3px solid #00a896;
            font-weight: bold;
            color: #05668d; }

.contenedor #pag__servicios {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "datD datD datD" "datU datU datU";
  background-color: #e4e0e077; }
  .contenedor #pag__servicios .service {
    grid-area: datD;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 50px;
    padding: 0 50px; }
    .contenedor #pag__servicios .service .introS h3 {
      animation-name: cambiarColor;
      animation-duration: 3s;
      animation-iteration-count: infinite; }

@keyframes cambiarColor {
  0% {
    color: #05668d; }
  25% {
    color: #028090; }
  50% {
    color: #00a896; }
  75% {
    color: #02c39a; }
  100% {
    color: #05668d; } }
  .contenedor #pag__servicios .cajas {
    grid-area: datU;
    margin: 0 40px;
    padding: 20px;
    border-radius: 20px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/images/paciente2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
    .contenedor #pag__servicios .cajas span {
      color: white;
      margin: 0 20px; }
      .contenedor #pag__servicios .cajas span h3 {
        color: #00a896; }

.contenedor .main_ObS {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "mutual mutual" "mutual2 mutual2" "pago pago" "medios medios"; }
  .contenedor .main_ObS .mutuales__primeras {
    grid-area: mutual;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 40px 40px 0 40px; }
    .contenedor .main_ObS .mutuales__primeras h2 {
      animation-name: cambiarColor;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      margin-bottom: 30px; }

@keyframes cambiarColor {
  0% {
    color: #05668d; }
  25% {
    color: #028090; }
  50% {
    color: #00a896; }
  75% {
    color: #02c39a; }
  100% {
    color: #05668d; } }
    .contenedor .main_ObS .mutuales__primeras .l-swis, .contenedor .main_ObS .mutuales__primeras .l-sanc, .contenedor .main_ObS .mutuales__primeras .l-consulm {
      width: 200px; }
    .contenedor .main_ObS .mutuales__primeras div {
      display: flex; }
      .contenedor .main_ObS .mutuales__primeras div img {
        margin: 0 30px; }
  .contenedor .main_ObS .mutuales__segundas {
    grid-area: mutual2;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px; }
    .contenedor .main_ObS .mutuales__segundas .iosfa {
      width: 200px; }
    .contenedor .main_ObS .mutuales__segundas .osmecon {
      width: 130px; }
    .contenedor .main_ObS .mutuales__segundas .omint {
      width: 150px; }
    .contenedor .main_ObS .mutuales__segundas div img {
      margin: 0 40px; }
  .contenedor .main_ObS .pago {
    grid-area: pago;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    overflow: hidden; }
  .contenedor .main_ObS .medios__pago {
    grid-area: medios;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden; }
    .contenedor .main_ObS .medios__pago div {
      margin: 40px; }

.contenedor .main__clin {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "imgClin imgClin imgClin" "datClin datClin imgClin2" "datClin1 datClin1 datClin1"; }
  .contenedor .main__clin #img-portada {
    grid-area: imgClin;
    width: 100%;
    height: 60vh;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/images/Clinica.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 40px; }
  .contenedor .main__clin .info_clin {
    grid-area: datClin;
    width: 100%;
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: center;
    padding: 30px; }
    .contenedor .main__clin .info_clin p {
      color: rgba(0, 0, 0, 0.678); }
  .contenedor .main__clin .imgClin2 {
    grid-area: imgClin2;
    padding: 30px;
    width: 100%;
    max-height: 100vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center; }
    .contenedor .main__clin .imgClin2 img {
      border: 3px solid #05668d; }
  .contenedor .main__clin .nuestra-clinica {
    grid-area: datClin1;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
    overflow: hidden; }
    .contenedor .main__clin .nuestra-clinica div {
      padding: 0 120px; }
    .contenedor .main__clin .nuestra-clinica p {
      color: rgba(0, 0, 0, 0.678); }
    .contenedor .main__clin .nuestra-clinica .wave {
      position: relative;
      top: 30px;
      margin: 20px 0; }
    .contenedor .main__clin .nuestra-clinica .video iframe {
      border: 3px solid #05668d;
      border-radius: 20px; }

.contenedor .mainCont {
  width: 100%;
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "form " "map";
  background-color: #73c3cc3b;
  background-image: url(/assets/images/odont.webp);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: bottom bottom; }
  .contenedor .mainCont .formulario {
    grid-area: form;
    background: #000000cc;
    width: 90%;
    max-width: 650px;
    margin: auto;
    padding: 5px 35px;
    margin-top: 30px;
    padding-bottom: 30px;
    border-radius: 3px; }
    .contenedor .mainCont .formulario .form-label {
      display: block;
      color: #00a896;
      font-weight: bold; }
    .contenedor .mainCont .formulario .form-input, .contenedor .mainCont .formulario .form-textarea, .contenedor .mainCont .formulario select {
      background: #000000b3;
      border: none;
      outline: none;
      border-bottom: 2px solid #00a896;
      width: 100%;
      padding: 12px;
      margin-bottom: 20px;
      border-radius: 2px;
      font-size: 14px;
      color: white; }
    .contenedor .mainCont .formulario .form-textarea {
      resize: vertical;
      max-height: 300px;
      min-height: 100px; }
    .contenedor .mainCont .formulario .btn-submit {
      width: 100%;
      outline: none;
      background-color: #00a896;
      font-size: 16px;
      color: white;
      border: none;
      padding: 15px 0;
      cursor: pointer;
      transition: all .8s ease; }
    .contenedor .mainCont .formulario .form-contacto {
      color: #00a896;
      text-align: center; }
      .contenedor .mainCont .formulario .form-contacto samp {
        color: white; }
  .contenedor .mainCont .maps {
    grid-area: map;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 50px; }
    .contenedor .mainCont .maps .mapaC {
      padding: 20px;
      height: 300px;
      width: 100%; }

/* ---------------------------MEDIA QUERIES--------------------- */
/* desktop */
@media screen and (max-width: 1200px) {
  .contenedor .headerHome nav .logo .titulo {
    font-size: 25px; }
  .contenedor .headerHome nav ul li {
    line-height: 120px; }
    .contenedor .headerHome nav ul li a {
      font-size: 14px;
      padding: 5px 10px; }
  .contenedor header nav .logo .titulo {
    font-size: 25px; }
  .contenedor header nav ul li {
    line-height: 120px; }
    .contenedor header nav ul li a {
      font-size: 14px;
      padding: 5px 10px; } }

@media screen and (max-width: 1024px) {
  .contenedor .headerHome nav .logo {
    padding: 20px 20px; }
    .contenedor .headerHome nav .logo img {
      width: 60px;
      height: 60px; }
    .contenedor .headerHome nav .logo .titulo {
      margin-left: 10px; }
  .contenedor .headerHome nav ul {
    margin-right: 10px; }
    .contenedor .headerHome nav ul li a {
      font-size: 12px;
      padding: 5px 5px; }
  .contenedor header nav .logo {
    padding: 20px 20px; }
    .contenedor header nav .logo img {
      width: 60px;
      height: 60px; }
    .contenedor header nav .logo .titulo {
      margin-left: 10px; }
  .contenedor header nav ul {
    margin-right: 10px; }
    .contenedor header nav ul li a {
      font-size: 12px;
      padding: 5px 5px; }
  .contenedor .main_ObS {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "mutual" "mutual2" "asideObraS" "pago" "medios"; } }

@media screen and (max-width: 900px) {
  .contenedor .headerHome nav .logo {
    padding: 30px 20px; }
    .contenedor .headerHome nav .logo .titulo {
      font-size: 19px; }
  .contenedor .headerHome nav ul li {
    line-height: 125px; }
  .contenedor header nav .logo {
    padding: 30px 20px; }
    .contenedor header nav .logo .titulo {
      font-size: 19px; }
  .contenedor header nav ul li {
    line-height: 125px; }
  .contenedor main #clinica {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "article" "asideUno" "asideDos"; }
  .contenedor main #servicios .cartas .carta__primera, .contenedor main #servicios .cartas .carta__Segunda, .contenedor main #servicios .cartas .carta__tercera,
  .contenedor main #servicios .cartas .carta__Cuarta, .contenedor main #servicios .cartas .carta__quinta, .contenedor main #servicios .cartas .carta__sexta {
    width: 60%;
    height: 40vh; }
  .contenedor footer .copyR {
    align-items: center;
    justify-content: center;
    margin: 20px; }
  .contenedor .main_ObS .mutuales__primeras div img {
    margin: 0 15px; }
  .contenedor .main_ObS .mutuales__primeras div .l-swis, .contenedor .main_ObS .mutuales__primeras div .l-sanc, .contenedor .main_ObS .mutuales__primeras div .l-consulm {
    width: 150px; }
  .contenedor .main_ObS .mutuales__segundas div .iosfa {
    width: 150px; }
  .contenedor .main_ObS .mutuales__segundas div .osmecon {
    width: 65px; }
  .contenedor .main_ObS .mutuales__segundas div .omint {
    width: 75px; } }

@media screen and (max-width: 768px) {
  .contenedor .headerHome {
    position: relative;
    height: 80px; }
    .contenedor .headerHome nav {
      box-shadow: 1px 1px 5px #000;
      height: 100px; }
      .contenedor .headerHome nav .logo {
        padding: 20px 20px; }
      .contenedor .headerHome nav .nav__label {
        display: block;
        padding: 16px 10px; }
      .contenedor .headerHome nav ul {
        position: absolute;
        border-top: 2px solid #05668d;
        left: -100%;
        top: 100px;
        bottom: 0;
        background-color: #028090;
        width: 100%;
        height: 50vh;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        transition: all 1s ease-in-out; }
        .contenedor .headerHome nav ul li {
          margin: 10px 0;
          padding: 5px 0;
          line-height: 10px; }
          .contenedor .headerHome nav ul li a {
            font-size: 18px;
            color: #f0f3bd; }
            .contenedor .headerHome nav ul li a:hover {
              border-top: none;
              font-weight: bold;
              color: rgba(0, 0, 0, 0.7);
              text-decoration: 1.5px underline; }
      .contenedor .headerHome nav .nav__input:checked + .nav__menu {
        left: 0;
        display: flex; }
  .contenedor header {
    height: 80px; }
    .contenedor header nav {
      box-shadow: 1px 1px 5px #000;
      height: 100px; }
      .contenedor header nav .logo {
        padding: 20px 20px; }
      .contenedor header nav .nav__label {
        display: block;
        padding: 16px 10px; }
      .contenedor header nav ul {
        position: absolute;
        border-top: 2px solid #05668d;
        left: -100%;
        top: 100px;
        bottom: 0;
        background-color: #028090;
        width: 100%;
        height: 50vh;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        transition: all 1s ease-in-out; }
        .contenedor header nav ul li {
          margin: 10px 0;
          padding: 5px 0;
          line-height: 10px; }
          .contenedor header nav ul li a {
            font-size: 18px;
            color: #f0f3bd; }
            .contenedor header nav ul li a:hover {
              border-top: none;
              font-weight: bold;
              color: rgba(0, 0, 0, 0.7);
              text-decoration: 1.5px underline; }
      .contenedor header nav .nav__input:checked + .nav__menu {
        left: 0;
        display: flex; }
  .contenedor main #img-portada {
    max-height: 50vh; }
  .contenedor .main__clin {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "imgClin" "datClin" "imgClin2" "datClin1"; }
    .contenedor .main__clin .imgClin2 img {
      width: 80%; } }

@media screen and (max-width: 700px) {
  .contenedor main #img-portada .smile h2 {
    font-size: 20px; }
  .contenedor main #img-portada .smile p {
    font-size: 15px;
    margin-top: 30px; }
  .contenedor .main_ObS .mutuales__primeras div {
    display: flex;
    flex-direction: column;
    margin-top: 30px; }
  .contenedor .main_ObS .mutuales__segundas div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 10px; }
    .contenedor .main_ObS .mutuales__segundas div img {
      margin: 20px 0; }
  .contenedor .main_ObS .medios__pago {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; }
    .contenedor .main_ObS .medios__pago div {
      margin: 10px 0; }
      .contenedor .main_ObS .medios__pago div img {
        margin: 20px 0; }
  .contenedor .main__clin .video {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto; } }

@media screen and (max-width: 615px) {
  .contenedor main #servicios .cartas .carta__primera, .contenedor main #servicios .cartas .carta__Segunda, .contenedor main #servicios .cartas .carta__tercera,
  .contenedor main #servicios .cartas .carta__Cuarta, .contenedor main #servicios .cartas .carta__quinta, .contenedor main #servicios .cartas .carta__sexta {
    display: flex;
    flex-direction: column;
    width: 90%; } }

@media screen and (max-width: 500px) {
  .contenedor footer .copyR {
    font-size: 10px; }
  .contenedor #pag__servicios .cajas {
    margin: 0 10px;
    padding: 10px;
    background-image: none;
    background-color: #413f3f; }
  .contenedor .main__clin .nuestra-clinica div {
    padding: 0 30px; }
  .contenedor .mainCont .maps .mapaC {
    padding: 10px;
    width: 90%;
    height: auto; } }

@media screen and (max-width: 380px) {
  .contenedor header nav .logo {
    padding: 20px; }
    .contenedor header nav .logo img {
      position: relative;
      top: 5px;
      right: 10px;
      width: 40px;
      height: 40px; }
    .contenedor header nav .logo .titulo {
      font-size: 16px;
      position: relative;
      right: 15px; }
  .contenedor header nav ul li {
    line-height: 120px; }
    .contenedor header nav ul li a {
      font-size: 14px;
      padding: 5px 10px; }
  .contenedor main #servicios .cartas {
    width: 100%; }
    .contenedor main #servicios .cartas .carta__primera, .contenedor main #servicios .cartas .carta__Segunda, .contenedor main #servicios .cartas .carta__tercera,
    .contenedor main #servicios .cartas .carta__Cuarta, .contenedor main #servicios .cartas .carta__quinta, .contenedor main #servicios .cartas .carta__sexta {
      width: 100%;
      margin: 20px 0; }
      .contenedor main #servicios .cartas .carta__primera h3, .contenedor main #servicios .cartas .carta__Segunda h3, .contenedor main #servicios .cartas .carta__tercera h3,
      .contenedor main #servicios .cartas .carta__Cuarta h3, .contenedor main #servicios .cartas .carta__quinta h3, .contenedor main #servicios .cartas .carta__sexta h3 {
        font-size: 10px; } }
