$sombra: 1px 1px 5px #000;
$coloresClinica:(
    "azul": #05668d,
    "negro": black,
    "blanco": white,
    "verde": #00a896,
    "crema": #f0f3bd,
    "enlace": #000000ad,
    "transparente":#e4e0e077,
    "contacto":#73c3cc3b,
    "oscuro": #29282821,
);


$backgroundSmile: linear-gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
    )
    ,url(/assets/images/Clinica.webp);